<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mertens.Properties.Settings.db_mertensConnectionString"
            connectionString="server=192.168.2.2;User Id=user;Persist Security Info=True;database=db_mertens"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>